@import url("https://fonts.googleapis.com/css?family=Lato");
.ibg{
	position: relative;
}
.ibg img,
.ibg_contain img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.ibg_contain img {
  object-fit: contain;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background-color: #9387ab;
	font: 400 10px "Lato", sans-serif;
	text-align: center;
}

.header {
	/*шапка*/
	display: flex;
	align-items: center;
	width: 100%;
	height: 75px;
	background: #17141d;
	opacity: 0.95;
	overflow: hidden;
	-webkit-box-shadow: #333 1px 3px 4px;
	-moz-box-shadow: #333 1px 3px 4px;
	box-shadow: #333 1px 3px 4px;
}

.content {
	/*о нас*/
	margin: 0;
	width: 100%;
	background-size: cover;
	height: calc(100% - 75px);
	background-image: url(2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #9387ab;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

h1 {
	/*текст после меню*/
	letter-spacing: 2px;
	padding: 1em;
	color: white;
	background-color: #17141d;
	opacity: 0.8;
	width: 95%;
	/* height: 30% */
	line-height: 1.5;
}

.menu {
	/*меню*/
	/* width: 750px; */
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu__list {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	column-gap: 30px;
	row-gap: 15px;
	justify-content: space-evenly;
	align-items: center;
}

.menu__link {
	color: white;
	cursor: pointer;
	letter-spacing: 3.3px;
}

ul {
	padding: 0;
	margin: 10px;
}

ul li {
	/* font-size: 1em; */
	/* margin:0 auto; */
	/* padding: 10px 5px 10px 63px; */
	/* width: 15%; */
	/* height: 10px; */
	/* text-align: center; */
	display: inline-block;
	transition: all 0.5s ease-out;
}

li.active {
	color: orange;
	transform: scale(1.1);
}

a {
	color: #fff;
	/* Цвет ссылки по умолчанию */
	text-decoration: none;
	/* Убираем подчеркивание */
	transition: color 0.3s ease;
	/* Добавляем плавную анимацию изменения цвета */
}

a:hover {
	color: #ED760E;
	/* Цвет ссылки при наведении */
}

/*конец меню*/

.about {
	/*наши услуги*/
	color: #fff;
	background-color: #17141d;
	text-align: center;
	padding: 1em 0em 5em 0em;
}

.wrap_about {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
	column-gap: 20px;
	row-gap: 15px;
}

.about h1 {
	/*черта под "наши услуги"*/
	letter-spacing: 4px;
	padding: -10em;
	color: white;
	background-color: #17141d;
	opacity: 0.8;
	font-size: 2em;
	text-align: center;
	position: relative;
}

.about h1::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #ED760E;
	border-radius: 2px;
}

button#scrollToTopBtn {
	/*стрелочка вверх, помоему*/
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	background-color: #ED760E;
	color: #fff;
	font-size: 10px;
	padding: 10px 15px;
	border: none;
	border-radius: 10%;
	cursor: pointer;
	/* width: 5%; */
	padding: 10px;
	text-align: center;
	width: 30px;
}

button#scrollToTopBtn:hover {
	background-color: #CC5500;
}
.grid__image{
	padding-bottom: 65%;
	width: 100%;
	/* height: 100%; */
}
.grid {
	border-radius: 10px;
	overflow: hidden;
	/*карточки услуг*/
	/* float: left; */
	background-color: #9387ab;
	/* margin: 0 1.5% 0 1.5%; */
	/* min-height: 20%; */
	margin-top: 10%;
	/* width: 320px; */
	/* height: 300px; */
	/* margin: 2.7%; */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	flex-direction: column;
	border-radius: 10px;
}

.grid:hover {
	box-shadow: 0 8px 16px #ED760E;
}

.grid h3 {
	/*подписи к карточкам*/
	/* letter-spacing: 4px; */
	padding: 10px 5px;
	color: rgba(0, 0, 0, 0.8);
	/* opacity: 0.8; */
	font-size: 1.4em;
	/* margin-top: -10px; */
}

.clear {
	/*честно говоря не знаю, некоторые части кода были написаны с помощью нейронки,и покудо оно работало я не разбиралась*/
	clear: both;
}

/* отмена float */
/* конец услуг */

.f-c h1 {
	/*форма обратной связи*/
	letter-spacing: 4px;
	padding: -10em;
	color: #17141d;
	background-color: #9387ab;
	opacity: 0.8;
	font-size: 2em;
	position: relative;
	text-align: center;
}

.f-c h1::after {
	content: '';
	position: absolute;
	bottom: -5px;
	/* Регулируйте высоту подлинии здесь */
	left: 10px;
	right: 0;
	height: 2px;
	/* Регулируйте толщину подлинии здесь */
	background-color: #ED760E;
	/* Цвет подлинии */
	border-radius: 2px;
	/* Заострение углов */
}
#file-container{
	padding-bottom: 20px;
}
.form-container {
	/*сама форма*/
	width: 50%;
	margin: 10px auto;
	background-color: #17141d;
	color: #9387ab;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
	display: flex;
	flex-direction: column;
}

h3 {
	/*текст на форме*/
	margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
	/*сообщение,фио, почта*/
	width: 100%;
	padding: 5px;
	margin: 10px 0;
	/* Increased margin for spacing */
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type="file"] {
	/*прикрепление файла*/
	margin-top: 10px;

}

button {
	/*кнопка отправить*/
	margin: 30px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #ED760E;
	cursor: pointer;
	width: 50%;
	margin: 0 auto;
	display: block;

}

button:hover {
	background-color: #CC5500;
}

footer {
	/* подвал */
	background-image: url(3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
footer::after{
	content: '';
	inset: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #17141dea;
}

footer h1 {
	background: none;
	position: relative;
	z-index: 2;
	margin: 1%;
	height: 10%;
	letter-spacing: 4px;
	padding: 1em;
	color: white;
	font-size: 20px;
}
.footer__items{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer__item{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	gap: 15px;
	z-index: 2;
	color: white;
	font-size: 16px;
}
.footer__item:not(:last-child) {
	margin-bottom: 20px;
}
.modal { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 80%;
  max-height: 80%;
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  color:  #ED760E;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
}
.arrow:hover {
  color: #CC5500; /* Изменение цвета кнопки при наведении */
}
.left-arrow {
  position: absolute;
  left: 0;
}

.right-arrow {
  position: absolute;
  right: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #ED760E;
}

.close-button:hover {
  color: #CC5500; /* Изменение цвета кнопки при наведении */
*}


.arrow:hover {
  color: #ED760E;
}